@model List<WithCityname>
@{
    ViewData["Tittle"] = "Oras favorit";
}
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=fire">
    <link rel=" stylesheet" href="~/css/showlist/textCod.css" />
</head>
<div class="container">

    @{ foreach (var el in Model)
        { <div class="row bg-white border rounded mt-4 p-2  ">
    <div class="col-lg-2 mt-4 text-dark text-center  ">
        <h6 style="  font-size:20px;      color: maroon;font-family:serif;
        font-weight: bold;
        transform: skew(-20deg,-20deg);transform-origin:30% 30%">
            @el.Cod
        </h6>
        <h6 class="text-danger" style="font-size:20px;font-family:cursive">&#8364;@el.Price</h6>



    </div>
    <div class="col-lg-2 text-dark mt-3 ">
        <h6 class="text-dark text-center" style="        font-size: 25px;
        font-family: cursive;
">
            @el.Source
    </h6>
    <h6 class="text-center text-danger" style="font-size:12px">@el.DateSource</h6>

    </div>
    <div class="col-lg-4 text-dark text-center ">
        <img class="" src="~/css/showlist/img/ruta.jpg" width="320" height="75" /> 

    </div>
    <div class="col-lg-2 text-dark mt-3 ">
        <h6 class="text-dark text-center" style="font-size:25px;font-family:cursive"> @el.Destination</h6>
        <h6 class="text-center text-danger" style="font-size:12px">@el.DataDest</h6>

    </div>
    <div class="col-lg-2 mt-4 text-right">
        <a class="btn-danger p-2 pb-1 ml-4 mt-3 mb-3 border rounded" asp-action="reg" asp-controller="order" asp-route-id="@el.Id">Cumpara</a>
    </div>




</div>}
    }

</div>




